---
layout: default
---

<div class="platform-section">
    <button class="dropdown-btn">
        HackTheBox
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-content">
        {% for writeup in site.hackthebox %}
            <a href="{{ writeup.url | relative_url }}">{{ writeup.title }}</a>
        {% endfor %}
    </div>
</div>

<div class="platform-section">
    <button class="dropdown-btn">
        TryHackMe
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-content">
        {% for writeup in site.tryhackme %}
            <a href="{{ writeup.url | relative_url }}">{{ writeup.title }}</a>
        {% endfor %}
    </div>
</div>

<div class="platform-section">
    <button class="dropdown-btn">
        PicoCTF
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="dropdown-content">
        {% for writeup in site.picoctf %}
            <a href="{{ writeup.url | relative_url }}">{{ writeup.title }}</a>
        {% endfor %}
    </div>
</div> 