---
layout: default
---

<div class="platform-container">
    <div class="select-wrapper">
        <label for="hackthebox">HackTheBox Writeups</label>
        <select id="hackthebox" class="platform-select" onchange="if (this.value) window.location.href=this.value">
            <option value="">Select a writeup...</option>
            {% for writeup in site.hackthebox %}
                <option value="{{ writeup.url | relative_url }}">{{ writeup.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="select-wrapper">
        <label for="tryhackme">TryHackMe Writeups</label>
        <select id="tryhackme" class="platform-select" onchange="if (this.value) window.location.href=this.value">
            <option value="">Select a writeup...</option>
            {% for writeup in site.tryhackme %}
                <option value="{{ writeup.url | relative_url }}">{{ writeup.title }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="select-wrapper">
        <label for="picoctf">PicoCTF Writeups</label>
        <select id="picoctf" class="platform-select" onchange="if (this.value) window.location.href=this.value">
            <option value="">Select a writeup...</option>
            {% for writeup in site.picoctf %}
                <option value="{{ writeup.url | relative_url }}">{{ writeup.title }}</option>
            {% endfor %}
        </select>
    </div>
</div> 